/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar { display: none; }
  .hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

  .active-nav {
    @apply font-semibold bg-primary/10 text-primary;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar { display: none; }
  .hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  .active-nav {
    @apply font-semibold bg-primary/10 text-primary;
  }
}
